
<div class="row">

  <h1 class="text-center">Welcome to Basic Info Astrology!</h1>
  <div class="small-4 columns"><%= image_tag("Aries.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Leo.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Saggitarius.jpg", :alt => "rss feed") %></div>
</div><br>

<div class="row">

  <div class="small-4 columns"><%= image_tag("Capricorn.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Taurus.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Virgo.jpg", :alt => "rss feed") %></div>
</div><br>

<div class="row">

  <div class="small-4 columns"><%= image_tag("Libra.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Aquarius.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Gemini.jpg", :alt => "rss feed") %></div>
</div><br>

<div class="row">

  <div class="small-4 columns"><%= image_tag("Cancer.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Scorpio.jpg", :alt => "rss feed") %></div>
  <div class="small-4 columns"><%= image_tag("Pisces.jpg", :alt => "rss feed") %></div>
</div><br><br>