<h3><%= @sign['name'] %></h3><br>
<h3><%= @sign['date'] %></h3><br>
<h3><%= @sign['element'] %></h3><br>
<h3><%= @sign['stage'] %></h3><br>
<h3><%= @sign['planet'] %></h3><br>
<h3><%= @sign['appearance'] %></h3><br>
<h3><%= @sign['karmic_stage'] %></h3><br>
<h3><%= @sign['strengths'] %></h3><br>
<h3><%= @sign['weaknesses'] %></h3><br>
<h3><%= @sign['hobbies'] %></h3><br>
<h3><%= @sign['dislikes'] %></h3><br>
<h3><%= @sign['key_words'] %></h3><br>
<h3><%= @sign['romance'] %></h3><br>
<h3><%= @sign['color'] %></h3><br>
<h3><%= @sign['stone'] %></h3><br>
<h3><%= @sign['metal'] %></h3><br>
<h3><%= @sign['related_body_part'] %></h3><br>

<%= link_to "Back to home page", signs_path %>
